h2,
p,
img,
div {
    user-select: none;
}

.custom-scroll::-webkit-scrollbar {
    background-color: var(--custom-scroll-background);
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--custom-scroll-colour);
    min-height: 48px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}
